.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    box-sizing: border-box;
}

.maxw-400 {
    max-width: 400px;
}

input#asset-value {
    background-color: unset;
    border-color: transparent;
    color: #464e53;
    width: 225px;
}
input#asset-value:hover {
    background-color: unset;
    border: 2px solid lightgray;
    border-radius: 3px;
    color: black;
}

.dropdown-toggle::after {
    display: none !important;
}

h5#asset-card-title {
    margin-bottom: 0 !important;
}

.chart-container {
    width: 98%;
    max-width: 1000px;
    height: 500px;
}
